body {
  width: 600px;
  margin: 25px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: yellow;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

button:hover {
  background-color: rgb(98, 93, 93);
  color: beige;
}
